$primary-color: floralwhite;
$blue: #67BAE7;
$yellow: #EEAD48;
$black: #131921;
$grey: #353F4C;
$buttonOne: #00ACC1;
$buttonTwo: #4285F4;
$buttonThree: #131921;

body{
  color: #FFF;
  background-color: $black;
  font-family: 'Questrial', sans-serif;
}

.container-fluid{
  padding: 0;
}

.header{
  background: $blue;
    // outline: 2px solid blue;
    text-align: center;
}

.heading{
  font-family: 'Questrial', sans-serif;
  font-size: 3em;
  margin: 0;
  padding: 25px;
  text-transform: uppercase;
}

.map{
    outline: 1px solid $grey;
    height: 500px;
}

.description{
    background-color: $yellow;
    // outline: 2px solid pink;
    padding: 2em;
    text-align: center;
}

.main{
    padding: 0 50px;
    // outline: 1px solid $grey;
}

.main h3{
    padding: 1em;
    text-align: center;
}

.visOne , .visTwo, .visThree{
    // outline: 1px solid $grey;
    height: 400px;
    margin-bottom: 2em;
}
